extends layout

block content
    h1 My Programs
    form(method='GET', action='/programs/getall')
        #form-group 
            ul.list-group
                each program, i in programs
                    li.list-group-item
                        a(href="/programs/"+program._id)= program.name