block content
    h1 #{title}
    form(method='POST', action='/workouts/create/')
        #form-group
            label Workout:
            input.form-control(name='workout_field', type='text' placeholder='Workout Name', required = '')

        input.btn.btn-primary(type='submit', value='Submit', style='margin-top: 10px')

            