extends layout
block content
    h1 #{title}
    form(method='POST', action='/exercises/create/')
        #form-group
            label Exercise:
            input.form-control(name='Exercise', type='text' placeholder='Exercise name', required = '')
        #form-group
            label Description:
            input.form-control(name='Description', type='text' placeholder='Description of the exercise', required = '')
        #form-group
            label Set:
            input.form-control(name='Set', type='text' placeholder='Number of sets', required = '')
        #form-group
            label Reps:
            input.form-control(name='Reps', type='text' placeholder='Enter time or reps', required = '')
        input.btn.btn-primary(type='submit', value='Submit', style='margin-top: 10px')