extends layout
block content
  h1 Login
  form(method='POST', action='/login')
    #form-group1
      label Email:
      input.form-control(name='email', type='email', required)
    #form-group2
      label Password:
      input.form-control(name='password', type='password', required)
    br
    input.btn.btn-primary(type='submit', value='Submit')

  block signup_button
  br
  p Don't have an account?
  a(href="signup" class="btn btn-primary") Sign up

