extends layout

block content
  h1= title
  p All Workouts
    form(method='GET', action='/workouts/getAll')
      #form-group 
        ul.list-group
          each workout, i in workouts
            li.list-group-item
              a(href="/workouts/")= workout.name