extends layout

block content
  if workouts.length
    p All Workouts
      form(method='GET', action='')
        #form-group
          ul.list-group
            each workout, i in workouts
              li.list-group-item
                a(href="/workouts/" + workout.id)= workout.name
  block addworkout
    br
    if workouts.length
      a(href="/workouts/add" class="btn btn-primary") Add Workout
    else
      a(href="/workouts/add" class="btn btn-primary") You have no workouts, add one now!
  block logout
  br
  br
  br


